<div class="mt-4">
  <form method="POST" action="">
    {{!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> --}}
    <div class="form-group">
      <label for="search-input" class="">Từ khóa</label>
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
    </div>
    {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}

    <div class="form-group">
      <label for="gender-input" class="">Từ khóa</label>
      <select name="gender" id="gender-input" class="form-control">
        <option value="" class="">-- Chọn giới tính --</option>
        <option value="Male" class="">Nam</option>
        <option value="Female" class="">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>